/*Move styling for website here to reduce repitition throughout files and 
organize styling*/
/* The side navigation menu */
canvas {
  border:1px solid #d3d3d3;
  background-color: #f1f1f1;
  position: absolute;
  top: 55%;
  left: 12.5%;
}
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color:white; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: black; /*change later*/
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: blue;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  font-size: 25px;
}
th, td{
  padding: 20px;
}
/* Position and style of the open button(left side of home screen) */
#unopen_sidenav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 120px;
  width: 20px;
  float: left;
  background-color: white;
  writing-mode: vertical-rl;
  text-orientation: upright;
}
/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
body{
    font-size:x-large;
    margin: 0px;
    padding: 0px;
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}
#bg{
    height: 100vh;
    width: 100vw;
}
#sky{
    height: 20vh;
    width: 100vw;
    text-align: center;
}
#mid{
    height: 70vh;
    width: 100vw;
}
#ground{
    height: 10vh;
    width:100vw;
    background-color:green;
}
.tower{
    height: 500px;
    width: 300px;
    background-color:blue;
}
